name: Deploy
on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  deploy:
    name: Build and Deploy Docker
    runs-on: ubuntu-latest
    steps:
      - name: Test docker credentials with curl
        run: curl -X GET -u ${{ secrets.DOCKER_USERNAME }}:${{ secrets.DOCKER_PASSWORD }} -L https://${{ secrets.DOCKER_REGISTRY }}/v2/mother-mouse-musicbot/tags/list
      - name: Checkout
        uses: actions/checkout@v4
      - name: Deploy to Registry
        uses: mr-smithers-excellent/docker-build-push@v6
        with:
          image: mother-mouse-musicbot
          tags: latest
          registry: ${{ secrets.DOCKER_REGISTRY }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Trigger Watchtower via curl
        run: |
          curl -L -I -H "Authorization: Bearer ${{ secrets.WATCHTOWER_TOKEN }}" "${{ secrets.WATCHTOWER_URL }}"